<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.testcases.Setupclass" />
			<class name="com.testcases.Testcase1" />
			<class name="com.testcases.Testcase2" />
			<class name="com.testcases.Testcase3" />
			<class name="com.testcases.Testcase4" />
			<class name="com.testcases.Testcase5" />
			<class name="com.testcases.Testcase6" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
